* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#Home {
    background-image: linear-gradient(100deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
    min-height: 100vh;
    padding: 0 40px;
}

.menu {
    display: none;
}

/* home page */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    transition: .2s linear;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    display: inline-block;
    margin-inline: 10px ;
}

a {
    font-size: 25px;
    padding-left: 10px;
    margin-left: 20px;
    text-decoration: none;
}

.nav ul {
    display: flex;
    align-items: center;

}

.nav ul li {
    margin-left: 20px;
    transition: all .2s linear;
}

.nav a {
    padding: 0;
}

.nav .logo h2 {
    text-align: left;
}

.nav ul li #install {
    transform: scale(1);
    margin: 0;
    font-weight: bold;
}
.nav ul li:hover {
    transform: scale(1.3);
}

#Home p,
#Home h2,
#Home h3 {
    font-weight: bold;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.842);

}

#Home p {
    font-size: 30px;
}

#Home h2 {
    
    font-size: 55px;
    margin-left: 30px;
    cursor: pointer;
}
#Home .left h2{
    width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    animation: cool 5s steps(20) .4s both infinite;
    transition: all .3s linear;
}
@keyframes cool{
    from{
        width: 0;

    }
    to{
        width: 20ch;

    }
}
#Home .left h2:hover{
    animation:none;

}
#Home h3 {
    color: rgba(0, 0, 0, 0.495);
}

#Home i {
    padding: 10px;
    border-radius: 50%;

    color: rgba(0, 0, 0, 0.794);
    font-size: 30px;
    transition: all .2s linear;
}

#Home i:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.534);
    background-color: black;
    color: white;
    transform: scale(1.01);
}

.left {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer ul {
    text-align: center;

}


#Home a {
    color: aliceblue;

}

/* about page */

#About {
    padding: 0 40px;
    background-color: #eee;
    min-height: 100vh;
}

#About a {
    color: black;
}

#About .logo h2 {
    font-size: 50px;
}

#About .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 30px;
    margin: 70px;
    margin-top: 10px;
}

#About .section h2,
#About .section p {
    margin-bottom: 40px;
}

#About .section p {
    font-size: 18px;
}

#About .section h2 {
    padding: 10px;
    width: 150px;
    border: 3px solid black;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.571);
}

#About .section ul li i {
    text-align: center;
    font-size: 60px !important;
    margin: 0 30px;
    transition: all .3s linear;

}
#About .section ul li{

        
        cursor: pointer;

}
#About .section ul li img{

        width: 100px;
        height: 50px;
        transition: .3s linear all;
}
#About .section ul li:hover img,
#About .section ul li:hover i,
#About .section ul li img:hover {
    transform:rotate(60deg);
    font-weight:bold
}

.footer ul li i {
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding-bottom: 20px;

}


/* projects page */
#Projects {
    padding: 0px 40px;
    margin: 30px auto !important;
    min-height: 100vh;
    
}


a {
    color: black
}

#Projects .h2 {
    text-align: center;
    margin: auto;
    padding: 15px 5px;
    width: 350px;
    margin-bottom: 90px;
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.571);

}

#collection {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

}

#Projects img:not(.pwa){

    width: 400px;
    height: 280px;
    transition: .5s linear;
    border-radius: 30px;
    border: solid 2px;
    margin: 10px;
    transition: .3s all linear;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.558);
}

#Projects img:not(.pwa):hover {
    opacity: 0.4;
    transform: scale(1.05);
    box-shadow: 0 10px 10px  black;

}



#show {
    text-align: center;
    margin: 20px auto !important;
    display: block !important;
    
}


.visit:hover {
    opacity: 1;
}

#collection div :hover~.visit {
    opacity: 1;
}

.showMore {
    display: inline-block;
    
}

.hidden {
    display: none;
}










/* contact page */
#Contact {
    padding: 0 40px;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    background-color: #eee;
}

#Contact a {
    color: black;
}

#Contact .section h2 {
    margin: 30px auto;
    padding: 10px;
    width: 250px;
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.571);
}

input,
textarea {
    width: 500px;
    border: none;
    outline: none;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    margin: 19px 0;
    padding: 10px;
    background-color: #eee;
    border-radius: 10px;
    transition: all .2s linear;
}

button {
    padding: 10px 30px;
    margin: 30px 20px;
    border: none;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transition: all .2s linear;
    border-radius: 20px;
    background-color: #ffffffbd;

}

button:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.534);
    background-color: black;
    color: white;
    transform: scale(1.1);
}

input:hover {
    background-color: #ffffffc0;
    transform: scale(1.1);
}

textarea:hover {
    background-color: #ffffffc0;
    transform: scale(1.1);

}

@media(max-width:1290px) {
    #Home {
        background: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 80%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
        height: 800px;
    }

    .logo {
        width: 100%;
    }

    /* .nav {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        transition: .2s linear;
    } */


    #About .section {
        padding: 10px 20px;
        margin: 20px;
    }


#About .section .skillMenu {
    display: block !important;
    text-align: center;
}

#About .section ul li img{

        width: 30px;
        height: 30px;
        transition: .3s linear all;
}
    .nav li {
        margin-bottom: 0px;
    }

    a {
        font-size: 25px;
        padding-left: 10px;
        margin-left: 0px;
    }

    .left {
        margin-top: 80px;

    }

    #Home a {
        color: black;

    }

    #Home h2 {
        font-size: 45px;
        margin-left: 30px;

    }

    .nav ul li {
        margin-left: 0px;
    }

    /* projects page */
    img {
        width: 300px;
        height: 200px;
    }

    #collection {
        position: relative;
    }

 



    .nav ul {
        text-align: center;
    }



    #Projects .h2 {
        font-size: 25px;
        padding: 15px 10px;
        max-width: 60%;
        margin: 50px auto;
        text-align: center;

    }

    #Projects {
        min-height: 100vh;
        margin: 0 auto;
    }

    input,
    textarea {
        width: 300px;
    }

    #Contact {
        padding: 0 40px;
        height: 951px;
        margin: auto;
        text-align: center;
        background-color: #eee;
    }
}

@media(max-width:850px) {
#Home{
    height: fit-content !important;
}
#Home .left h2{
font-size: 28px;
margin-left: 10px;
}
#Home .left p{
font-size: 24px;
}

    input,
    textarea {
        width: 250px !important;

    }

    .nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        justify-content: space-between;
        align-items: center;

    }
    #About{
        padding:0 20px !important;
    }
    #About .section ul li i {
        font-size: 25px !important;
        margin: 0 10px;
        transition: all .3s linear;
        
    }
    #About .section ul li{
        transition: all .3s linear;
        font-size: 16px !important;
    }
    #About .section ul li:hover {
        transform: scale(1.2);
        color: #eee;
    }
    #About .section ul li i:hover{
        box-shadow: 0 10px 10px 10px ;
    }
    #About .section .skillMenu {
        overflow: hidden;
     display: flex ;
     align-items: center;
     justify-content: space-between;
}

#About .section ul li img{

        width: 30px;
        height: 30px;
        transition: .3s linear all;
}
    .menu {
        display: inline-block;
        transition: all 2s linear ;
    }

    .nav li {
        display: inline-block;
        margin-bottom: 0px;

    }

    .nav ul {
        display: none;
        flex-direction: column;
        text-align: center;

    }

    .toggleMenu {
        display: flex !important;
    }

    #show {
        margin: 0px auto;

    }
    img {
        transition: .1s all linear;
  
    }
    img:hover {
        opacity: 0.4;
        transform: scale(1.1);
        box-shadow: 0 5px 10px 1px black;
    
    }

}
